* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow: hidden;
  font-family: 'Tektur', 'Arial', sans-serif;
}

#statistic {
  position: absolute;
  left: 16px;
  top: 16px;
  padding: 16px;
  z-index: 2;
  background: #f1f1f1;

  b {
    display: inline-block;
    width: 24px;
  }
  span{
    margin-left: 4px;
  }
}

label {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 16px;
  z-index: 2;
  background: #f1f1f1;

  input {
    margin-left: 8px;
  }
}

